# run `grep -Pv "^#" .gitconfig >> .git/config` to append the merge config to your repo file :)
[mergetool "sops-mergetool"]
        cmd = bash -c "$(git --exec-path)/sops-mergetool.sh \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\""
[merge]
	tool = nvimdiff3
