[mergetool "sops-mergetool"]
        cmd = bash -c "$(git --exec-path)/sops-mergetool.sh \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\""
[merge]
	tool = nvimdiff3
[push]
	autoSetupRemote = true
[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = git@github.com:RAD-Development/nix-dotfiles.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "main"]
	remote = origin
	merge = refs/heads/main
	pushRemote = origin
[branch "feature/palatine-hill-nut-2.0"]
	pushRemote = origin
	remote = origin
	merge = refs/heads/feature/palatine-hill-nut-2.0
