# direnv
.direnv
.envrc

# build outputs
.*.swp
*.retry
result
result-*

# If you run nix develop it will generate pre-commit hooks using the python library precommit (see https://github.com/RAD-Development/nix-dotfiles/blob/main/flake.nix#L65)
**/.pre-commit-config.yaml

# omits sops-mergetool artifacts
**/*.yaml.orig
**/*.yml.orig

# allows test file in reopsitory
test.*

# flake update artifacts
pre-drv
post-drv
post-diff
